    /* Google Font Import - Poppins */
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }

    :root{
        /* ===== Colors ===== */
        --body-color: #ffffff;
        --sidebar-color: #121B28;
        --primary-color: #ffffff;
        --primary-color-light: #F6F5FF;
        --toggle-color: #DDD;
        --text-color: #ffffff;

        /* ====== Transition ====== */
        --tran-03: all 0.2s ease;
        --tran-03: all 0.3s ease;
        --tran-04: all 0.3s ease;
        --tran-05: all 0.3s ease;
    }

    .flex {
        display: flex;
    }
    .justify-center {
        justify-content: center;
    }

    .align-center {
        align-items: center;
    }

    .column {
        flex-direction: column;
    }


    .p10 {
        padding: 10px;
    }
    .p20 {
        padding: 20px;
    }

    .m10 {
        margin: 10px;
    }
    .m20 {
        margin: 20px;
    }

    .mx-auto {margin: 0 auto;}

    .px20 {
        padding-left: 20px;
        padding-right: 20px;
    }
    .mx20 {
        margin-left: 20px;
        margin-right: 20px;
    }
    .py20 {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .my20 {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .bold {
        font-weight: bold;
    }



    body{
        min-height: 100vh;
        background-color: var(--body-color);
        transition: var(--tran-05);
    }

    ::selection{
        background-color: var(--primary-color);
        color: #fff;
    }

    body.dark{
        --body-color: #18191a;
        --sidebar-color: #242526;
        --primary-color: #3a3b3c;
        --primary-color-light: #3a3b3c;
        --toggle-color: #fff;
        --text-color: #ccc;
    }

    /* ===== Sidebar ===== */
    .sidebar{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 250px;
        padding: 10px 14px;
        background: var(--sidebar-color);
        transition: var(--tran-05);
        z-index: 100;  
    }
    .sidebar.close{
        width: 88px;
    }

    /* ===== Reusable code - Here ===== */
    .sidebar li{
        height: 50px;
        list-style: none;
        display: flex;
        align-items: center;
        margin-top: 10px;
    }

    .sidebar header .image,
    .sidebar .icon{
        min-width: 60px;
        border-radius: 6px;
    }

    .sidebar .icon{
        min-width: 60px;
        border-radius: 6px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
    }

    .sidebar .text,
    .sidebar .icon{
        color: var(--text-color);
        transition: var(--tran-03);
    }

    .sidebar .text{
        font-size: 17px;
        font-weight: 500;
        white-space: nowrap;
        opacity: 1;
    }
    .sidebar.close .text{
        opacity: 0;
    }
    /* =========================== */

    .sidebar header{
        position: relative;
    }

    .sidebar header .image-text{
        display: flex;
        align-items: center;
    }
    .sidebar header .logo-text{
        display: flex;
        flex-direction: column;
    }
    header .image-text .name {
        margin-top: 2px;
        font-size: 18px;
        font-weight: 600;
    }

    header .image-text .profession{
        font-size: 16px;
        margin-top: -2px;
        display: block;
    }

    .sidebar header .image{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sidebar header .image img{
        width: 40px;
        border-radius: 6px;
    }

    .sidebar header .toggle{
        position: absolute;
        top: 50%;
        right: -25px;
        transform: translateY(-50%) rotate(180deg);
        height: 25px;
        width: 25px;
        background-color: var(--primary-color);
        color: var(--sidebar-color);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 22px;
        cursor: pointer;
        transition: var(--tran-05);
    }

    body.dark .sidebar header .toggle{
        color: var(--text-color);
    }

    .sidebar.close .toggle{
        transform: translateY(-50%) rotate(0deg);
    }

    .sidebar .menu{
        margin-top: 40px;
    }

    .sidebar li.search-box{
        border-radius: 6px;
        background-color: var(--primary-color-light);
        cursor: pointer;
        transition: var(--tran-05);
    }

    .sidebar li.search-box input{
        height: 100%;
        width: 100%;
        outline: none;
        border: none;
        background-color: var(--primary-color-light);
        color: var(--text-color);
        border-radius: 6px;
        font-size: 17px;
        font-weight: 500;
        transition: var(--tran-05);
    }
    .sidebar li a{
        list-style: none;
        height: 100%;
        background-color: transparent;
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        border-radius: 6px;
        text-decoration: none;
        transition: var(--tran-03);
    }

    .sidebar li a:hover{
        background-color: var(--primary-color);
    }



    .sidebar li a:hover .icon,
    .sidebar li a:hover .text{
        color: var(--sidebar-color);
    }
    body.dark .sidebar li a:hover .icon,
    body.dark .sidebar li a:hover .text{
        color: var(--text-color);
    }



    .sidebar .menu-bar{
        height: calc(100% - 55px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow-y: scroll;
    }
    .menu-bar::-webkit-scrollbar{
        display: none;
    }
    .sidebar .menu-bar .mode{
        border-radius: 6px;
        background-color: var(--primary-color-light);
        position: relative;
        transition: var(--tran-05);
    }

    .menu-bar .mode .sun-moon{
        height: 50px;
        width: 60px;
    }

    .mode .sun-moon i{
        position: absolute;
    }
    .mode .sun-moon i.sun{
        opacity: 0;
    }
    body.dark .mode .sun-moon i.sun{
        opacity: 1;
    }
    body.dark .mode .sun-moon i.moon{
        opacity: 0;
    }

    .menu-bar .bottom-content .toggle-switch{
        position: absolute;
        right: 0;
        height: 100%;
        min-width: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
        cursor: pointer;
    }
    .toggle-switch .switch{
        position: relative;
        height: 22px;
        width: 40px;
        border-radius: 25px;
        background-color: var(--toggle-color);
        transition: var(--tran-05);
    }

    .switch::before{
        content: '';
        position: absolute;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        top: 50%;
        left: 5px;
        transform: translateY(-50%);
        background-color: var(--sidebar-color);
        transition: var(--tran-04);
    }

    body.dark .switch::before{
        left: 20px;
    }

    .home{
        position: absolute;
        top: 0;
        top: 0;
        left: 250px;
        height: 100vh;
        width: calc(100% - 250px);
        background-color: var(--body-color);
        transition: var(--tran-05);
    }
    .home .text{
        font-size: 30px;
        font-weight: 500;
        color: var(black);
        padding: 12px 60px;
    }

    .sidebar.close ~ .home{
        left: 78px;
        height: 100vh;
        width: calc(100% - 78px);
    }
    body.dark .home .text{
        color: var(--text-color);
    }

    .profile {
        display: flex;
        justify-content: start;
    }
    .profile h2 {
        color: #1aacac;
        font-family: Inter;
        font-size: 48px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.96px;
        margin-top: 80px;
        margin-left: 40px;
    }
    .profile p {
        color: #949494;
        font-family: Inter;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: 0.64px;
        margin-left: 10px;
    }
    
    .profileimage {
        width: 200px;
        justify-content: flex-start;
        margin-top: 50px;
        margin-left: 80px;
    }
    
    .first-off {
        white-space: pre-wrap;
    }
    .stats-info {
        background-color: #fff;
        border: 1px solid #e5e5e5;
        border-radius: 4px;
        margin-bottom: 20px;
        padding: 15px;
        text-align: center;
    }
    .stats-info h6 {
        color: #1f1f1f;
        font-size: 16px;
        font-weight: normal;
        line-height: 18px;
        margin-bottom: 5px;
    }
    .stats-info h4 {
        font-size: 24px;
        margin-bottom: 0;
    }
    .stats-info h4 span {
        color: #727272;
        font-size: 12px;
    }
    .punch-det {
        background-color: #f9f9f9;
        border: 1px solid #e3e3e3;
        border-radius: 4px;
        margin-bottom: 20px;
        padding: 10px 15px;
    }
    .punch-det h6 {
        line-height: 20px;
        margin-bottom: 0;
    }
    .punch-det p {
        color: #727272;
        font-size: 14px;
        margin-bottom: 0;
    }
    .punch-info {
        margin-bottom: 20px;
    }
    .punch-hours {
        align-items: center;
        background-color: #f9f9f9;
        border: 5px solid #e3e3e3;
        border-radius: 50%;
        display: flex;
        font-size: 18px;
        height: 120px;
        justify-content: center;
        margin: 0 auto;
        width: 120px;
    }
    .punch-btn-section {
        margin-bottom: 20px;
        text-align: center;
    }
    .punch-btn {
        border-radius: 50px;
        font-size: 18px;
        font-weight: 600;
        max-width: 100%;
        padding: 8px 40px;
    }
    .punch-status .stats-box {
        margin-bottom: 0;
    }
    .stats-list {
        height: 331px;
        overflow-y: auto;
    }
    .att-statistics .stats-info {
        margin-bottom: 5px;
    }
    .att-statistics .progress {
        height: 4px;
    }
    .statistics .row {
        margin-left: -5px;
        margin-right: -5px;
    }
    .statistics .row > div {
        padding-left: 5px;
        padding-right: 5px;
    }
    .stats-box {
        background-color: #f9f9f9;
        border: 1px solid #e3e3e3;
        margin-bottom: 15px;
        padding: 5px;
    }
    .stats-box p {
        margin: 0;
        font-size: 12px;
    }
    .stats-box > h6 {
        margin-bottom: 0;
    }
    .stats-info:last-child .progress {
        margin-bottom: 0;
    }
    .stats-info p {
        display: flex;
        font-size: 12px;
        justify-content: space-between;
        margin-bottom: 5px;
    }
    .recent-activity .res-activity-list {
        height: 328px;
        list-style-type: none;
        margin-bottom: 0;
        overflow-y: auto;
        padding-left: 30px;
        position: relative;
    }
    .recent-activity .res-activity-list li {
        margin-bottom: 15px;
        position: relative;
    }
    .recent-activity .res-activity-list li:last-child {
        margin-bottom: 0;
    }
    .recent-activity .res-activity-list li:before {
        width: 10px;
        height: 10px;
        left: -30px;
        top: 0px;
        border: 2px solid #f43b48;
        margin-right: 15px;
        z-index: 2;
        background: #fff;
    }
    .recent-activity .res-activity-list li:before {
        content: "";
        position: absolute;
        border-radius: 100%;
    }
    .recent-activity .res-activity-list:after {
        content: "";
        border: 1px solid #e5e5e5;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 4px;
    }
    .recent-activity .res-activity-time {
        color: #bbb;
        font-size: 12px;
    }
    .recent-activity h6 {
        line-height: 14px;
        margin-bottom: 0;
    }
    .recent-activity p {
        font-size: 13px;
        margin-bottom: 0;
    }
    .half-day {
        width: 15px;
    }
    
    .page-wrapper {
        left: 0;
        margin-left: 80px;
        padding-top: 10px;
        position: relative;
        transition: all 0.2s ease-in-out;
    }
    .page-wrapper > .content {
        padding: 30px;
    }
    .page-header {
        margin-bottom: 1.875rem;
    }
    .page-header .breadcrumb {
        background-color: transparent;
        color: #6c757d;
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 0;
        padding: 0;
    }
    .page-header .breadcrumb a {
        color: #333;
    }
    .card {
        border: 1px solid #ededed;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
        margin-bottom: 30px;
    }
    .card-title {
        color: #1f1f1f;
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 20px;
    }
    .card-header {
        background-color: #fff;
    }
    .card-footer {
        background-color: #fff;
    }
    .page-title {
        color: #1f1f1f;
        font-size: 26px;
        font-weight: 500;
        margin-bottom: 5px;
    }
    .page-sub-title {
        color: #565656;
        font-size: 18px;
        font-weight: normal;
        margin-bottom: 20px;
    }
    .add-btn {
        background-color: #f43b48;
        border: 1px solid #f43b48;
        border-radius: 50px;
        color: #fff;
        float: right;
        font-weight: 500;
        min-width: 140px;
    }
    .add-btn:hover,
    .add-btn:focus,
    .add-btn:active {
        background-color: #f10e1d;
        border: 1px solid #f10e1d;
        color: #fff;
    }
    .add-btn i {
        margin-right: 5px;
    }
    .cal-icon {
        position: relative;
        width: 100%;
    }
    .cal-icon:after {
        color: #979797;
        content: "\f073";
        display: block;
        font-family: "FontAwesome";
        font-size: 15px;
        margin: auto;
        position: absolute;
        right: 15px;
        top: 10px;
    }
    .form-focus .cal-icon:after {
        top: 15px;
    }
    