*{
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
}

.split-screen{
    display: flex;
    flex-direction: column;
}

.left{
    height: 200px;
}

.left, .right{
    display: flex;
    justify-content: center;
    align-items: center;
}

.left{
    background: linear-gradient(rgba(30, 63, 238, 0), rgba(30, 63, 238, 0.5));
    background-size: cover;
}

.right .copy{
    color: black;
    text-align: center;
}

.right .copy p{
    margin: 1.5em 0;
    font-size: 0.875rem;
}

.right form{
    width: 328px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"],
form input[type="tel"]{
    display: block;
    width: 100%;
    padding: 1em;
    margin-bottom: 1.25rem;
    font-size: 0.875;

    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #c4c4c4;

    /* border: 1px solid #999;
    outline: none;
    background: transparent;
    border-top: 0;
    border-right: 0;
    border-left: 0; */
}

label{
    display: block;
    margin-bottom: 0.5rem;
    font-size: 0.75rem;
}

.input-container .password{
    position: relative;
}

.input-container.password i{
    position: absolute;
    top: 42px;
    right: 16px;
}

.checkbox-container input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox-container{
    display: block;
    position: relative;
    padding-left: 2rem;
    cursor: pointer;
    user-select: none;
    margin: 0 0 1.25rem 0;
}

.checkbox-container input:checked ~ .checkmark {
    background-color: #1E3FEE;
    border: 1px solid #1E3FEE;
}

.checkmark{
    position: absolute;
    width: 24px;
    height: 24px;
    background: white;
    border: 1px solid #c4c4c4;
    border-radius: 2px;
    top: -4px;
    left: 0;
}

.checkmark:after{
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked~.checkmark:after{
    display: block;
}

.checkbox-container .checkmark:after{
    border: solid white;
    border-width: 0 3px 3px 0;
    width: 5px;
    height: 10px;
    left: 8px;
    top: 4px;
    transform: rotate(45deg);
}

.signup-btn{
    display: block;
    width: 100%;
    background: #1E3FEE;
    color: white;
    font-weight: 700;
    border: none;
    padding: 1rem;
    border-radius: 8px;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

.signup-btn:hover{
    background: #2c4893;
    cursor: pointer;
}

@media screen and (min-width: 900px){
    .split-screen{
        flex-direction: row;
        height: 100vh;
    }
    .left, .right{
        display: flex;
        width: 50%;
        height: auto;
    }
}